.all-events-button-col {
    padding-top: 20px;
    padding-bottom: 10px;
    height: auto;
}
.events-h1-row {
    text-align: left;
    color: #3E0216;
}
.all-events-link {
    margin-left: 30px;
}
.events-block {
    background: url("../images/calendar-cropped.jpg") no-repeat;
}
.events-description-row {
    margin-top: 10px;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .all-events-link {
        display: block;
        margin-left: auto;
    }
}