.all-events-button-col {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #eef6f4;
    height: 70px;
}
.events-page-h1 {
    display: inline;
}
.events-h1-row {
    text-align: center;
}