[class*="row"] {
    height: 100%;
}
.banner {
    background: url("../images/index-banner_cropped.jpg") no-repeat;
    height: 500px;
    text-align: center;
}
.banner_text {
    margin-top: 150px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 400%;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.index-header {
    background: url("../images/header-index-cropped.jpg") no-repeat;
    opacity: .9;
    color: #3E0216;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(207, 207, 207, 0.48);
    height: 500px;
}
.header-text {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: large;
}
.header-h1-text {
    font-size: 400%;
    opacity: 1!important;
    color: #3E0216;
    font-weight: bold;
    margin-top: 150px;
}
.index-buttons-row {
    height: 300px;
    text-align: center;
}
.index-buttons-block {
    margin-top: 10px;
    margin-bottom: 20px;
}
.index-buttons-p {
    margin-top: 30px;
}
.index-content-block {
    text-align: center;
}
.organizers-block {
    background-color: #eef6f4;
}
@media screen and (max-width: 480px) {
    .index-header {
        height: auto;
    }
    .header-h1-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .banner {
        height: auto;
    }
    .banner_text {
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 200%;
    }
    .header-text {
        display: none;
    }
    .index-buttons-row {
        height: auto;
    }
    .index-buttons-block {
        margin-top: 5px;
    }
    .index_avatar {
        display: none;
    }
}
@media screen and (min-width: 481px) and (max-width: 1080px){
    .banner_text {
        font-size: 200%;
    }
    .header-text {
        margin-right: 50px;
        margin-left: 50px;
    }
    .index-buttons-row {
        height: auto;
    }
    .index-buttons-block {
        margin-top: 5px;
    }
    .index_avatar {
        display: none;
    }
}