html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
.error {
    color: #ff0000;
    font-style: italic;
}
.form_table {
    border-spacing: 1px;
    border-collapse: separate;
}
.message {
    color: #00ff00;
    font-style: italic;
}
.index_avatar {
    max-width: 200px;
    max-height: 200px;
}
.small_avatar {
    max-width: 50px;
    max-height: 50px;
}
.free_event {
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.text_on_1_line {
    display: inline;
}
.btn_width_200 {
    width: 200px;
}
.text_center {
    text-align: center;
}
.form_align {
    text-align: justify;
}
.profile_form {
    text-align: justify;
    color: black;
}
.photos {
    max-width: 300px;
    max-height: 300px;
}
.new_message {
    color: green;
    font-style: italic;
}
.conversation {
    overflow: auto;
    border-style: solid;
    height: 400px;
}
.chat_message {
    color: black;
}
.sender {
    color: navy;
    font-style: italic;
}
.receiver {
    color: #23527c;
    font-style: italic;
}