html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
}
a {
    color: #3E0216;
}
a:hover {
    color: #3E0216;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
}
.error {
    color: #ff0000;
    font-style: italic;
}
.form_table {
    border-spacing: 1px;
    border-collapse: separate;
}
.message {
    color: #00ff00;
    font-style: italic;
}
.index_avatar {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.small_avatar {
    max-width: 50px;
    max-height: 50px;
}
.free_event {
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.text_on_1_line {
    display: inline;
}
.btn_width_200 {
    width: 200px;
}
.text_center {
    text-align: center;
}
.form_align {
    text-align: justify;
}
.profile_form {
    text-align: justify;
    color: black;
}
.photos {
    max-width: 300px;
    max-height: 300px;
}
.new_message {
    color: green;
    font-style: italic;
}
.conversation {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
    border-style: solid;
    border-color: #3E0216;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
.chat_message {
    color: black;
    margin-bottom: 20px;
    border-bottom: dashed;
    border-bottom-color: rgba(215, 215, 215, 0.48);
}
.sender {
    color: navy;
    font-style: italic;
    margin-bottom: 5px;
}
.receiver {
    color: #23527c;
    font-style: italic;
    margin-bottom: 5px;
}
.tooltips {
    color: gray;
    font-style: italic;
}
.star {
    color: gray;
}
.navbar {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin-bottom: 0px !important;
}
.mybtn {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 20px;
    background: #3E0216;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 5px;
}
.mybtn:hover {
    background: #8f0735;
    text-decoration: none;
    color: #ffffff;
}
.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.text-header {
    display: block;
    height: 50px;
}
.date {
    text-decoration: underline;
    font-weight: bold;
}
.mybtn-small {
    padding: 5px 10px 5px 10px;
    box-shadow: none;
    border: none;
}
.content-icon {
    display: inline;
}
.icon-block {
    text-align: right;
}
.caption-block {
    text-align: left;
}
.caption-row {
    display: flex;
    align-items: center;
}
.content-row {
    height: 200px;
    color: #3E0216;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    text-transform: uppercase;
    padding-top: 25px;
}
.show-hided-block {
    height: 300px;
    margin-bottom: 20px;
}
.hided-hovered-block {
    display: none;
    position: absolute;
    top: 10px;
    padding-left: 210px;
    padding-top: 30px;
    text-align: left;
}
.show-hided-block:hover {
    background-color: black;
    opacity: 0.7;
}
.show-hided-block:hover > .hided-hovered-block{
    display: block;
    color: white;
}
.all-button-row {
    background-color: #eef6f4;
}
.additional-link {
    margin-left: 20px;
}
.additional-div {
    width: 500px;
    margin-left: 400px;
}
.additional-search-parameters {
    margin-top: 10px;
}
.countries-select {
    width: 180px !important;
}
.page-h1 {
    display: inline;
}
.block-icon {
    width: auto;
    height: auto;
}
.helper-block {
    color: #3E0216;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    background-color: #eef6f4;
    padding-top: 10px;
}
.description-row {
    margin-top: 10px;
    text-align: center;
}
.faq-background {
    background: url("../images/Question-cropped.jpg") no-repeat;
}
.page-header-background {
    background-color: #eef6f4;
    margin-bottom: 10px;
}
.text-underline {
    text-decoration: underline;
}
.text-left {
    text-align: left;
}
.header-image {
    max-width: 150px;
    max-height: 150px;
}
.color-header {
    color: #3E0216;
    text-align: center;
}
.gallery {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	border-radius: 20px;
	position: relative;
}
.elastislide-horizontal {
	background-color: transparent;
	border-radius: 20px 20px 0 0;
}
.elastislide-horizontal .elastislide-loading {
	background-image: url(../images/elastic/loading_dark.gif);
}

.elastislide-carousel ul li a{
	padding: 2px;
}
.elastislide-carousel ul li a img {
	border-radius: 10px;
	border: none;
}
.elastislide-wrapper nav span {
	background-color: #666;
}
.image-preview img {
	border-radius: 0 0 20px 20px;
	max-width: 100%;
	display: block;
}
.elastislide-carousel ul li.current-img a img {
	box-shadow: 0 0 3px 2px rgba(62,235,255,0.8);
}
.block-bottom-line {
    border-bottom-style: solid;
    border-bottom-color: #3E0216;
}
.photos-row {
	padding-bottom: 20px;
}
@media screen and (max-width: 480px) {
    .date {
        margin-top: 10px;
    }
    .text-header {
        height: auto;
    }
    .content-row {
        height: auto;
    }
    .icon-block {
        display: none;
    }
    .caption-block {
        text-align: center;
    }
    .hided-hovered-block {
        display: block;
        position: relative;
        padding-left: 50px;
        padding-top: 0px;
        top: 0px;
        height: auto;
    }
    div.hided-hovered-block p {
        margin-bottom: 0px;
    }
    div.hided-hovered-block a.mybtn {
        color: #3E0216;
        font-size: 1.2em;
        background: none;
        text-decoration: none;
    }
    .show-hided-block {
        height: auto;
    }
    .show-hided-block:hover {
        background-color: transparent;
    }
    .show-hided-block:hover > .hided-hovered-block {
        color: black;
    }
    .additional-link {
        margin-left: auto;
    }
    .additional-div {
        width: auto;
        margin-left: auto;
    }
    .page-h1 {
        margin-left: 50px;
    }
    .block-icon {
        display: none;
    }
    .cell-no-display {
        display: none;
    }
}
@media screen and (min-width: 481px) and (max-width: 1080px){
    .content-row {
        height: auto;
    }
    .caption-block {
        text-align: left;
    }
    .show-hided-block {
        /*height: 500px;*/
        height: auto;
        min-height: 200px;
    }
    .hided-hovered-block {
        display: block;
        position: relative;
        padding-left: 50px;
        padding-top: 0px;
        top: 0px;
        height: auto;
    }
    .show-hided-block:hover {
        background-color: transparent;
    }
    .show-hided-block:hover > .hided-hovered-block {
        color: black;
    }
    .all-events-link {
        margin-left: auto;
    }
    .additional-div {
        width: auto;
        margin-left: auto;
    }
    .player_avatar {
        max-width: 100px;
        max-height: 100px;
    }
    .players-h2 {
        font-size: 20px !important;
    }
    .username-block {
        margin-left: -10px;
    }
    .form_align_center {
        text-align: center !important;
    }
}