html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
}
a {
    color: #3E0216;
}
a:hover {
    color: #3E0216;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
}
.error {
    color: #ff0000;
    font-style: italic;
}
.form_table {
    border-spacing: 1px;
    border-collapse: separate;
}
.message {
    color: #00ff00;
    font-style: italic;
}
.index_avatar {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.small_avatar {
    max-width: 50px;
    max-height: 50px;
}
.free_event {
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.text_on_1_line {
    display: inline;
}
.btn_width_200 {
    width: 200px;
}
.text_center {
    text-align: center;
}
.form_align {
    text-align: justify;
}
.profile_form {
    text-align: justify;
    color: black;
}
.photos {
    max-width: 300px;
    max-height: 300px;
}
.new_message {
    color: green;
    font-style: italic;
}
.conversation {
    overflow: auto;
    border-style: solid;
    height: 400px;
}
.chat_message {
    color: black;
}
.sender {
    color: navy;
    font-style: italic;
}
.receiver {
    color: #23527c;
    font-style: italic;
}
.tooltips {
    color: gray;
    font-style: italic;
}
.star {
    color: gray;
}
.navbar {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin-bottom: 0px !important;
}
.mybtn {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 20px;
    background: #3E0216;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.mybtn:hover {
    background: #8f0735;
    text-decoration: none;
    color: #ffffff;
}
.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.text-header {
    display: block;
    height: 50px;
}
.date {
    text-decoration: underline;
    font-weight: bold;
}
.mybtn-small {
    padding: 5px 10px 5px 10px;
    box-shadow: none;
    border: none;
}
.content-icon {
    display: inline;
}
.icon-block {
    text-align: right;
}
.caption-block {
    text-align: left;
}
.caption-row {
    display: flex;
    align-items: center;
}
.content-row {
    height: 200px;
    color: #3E0216;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    text-transform: uppercase;
    padding-top: 25px;
}
.show-hided-block {
    height: 300px;
    margin-bottom: 20px;
}
.hided-hovered-block {
    display: none;
    position: absolute;
    top: 10px;
    padding-left: 210px;
    padding-top: 30px;
    text-align: left;
}
.show-hided-block:hover {
    background-color: black;
    opacity: 0.7;
}
.show-hided-block:hover > .hided-hovered-block{
    display: block;
    color: white;
}
@media screen and (max-width: 480px) {
    .date {
        margin-top: 10px;
    }
    .text-header {
        height: auto;
    }
    .content-row {
        height: auto;
    }
    .icon-block {
        display: none;
    }
    .caption-block {
        text-align: center;
    }
    .hided-hovered-block {
        display: block;
        position: relative;
        padding-left: 50px;
        padding-top: 0px;
        top: 0px;
        height: auto;
    }
    div.hided-hovered-block p {
        margin-bottom: 0px;
    }
    div.hided-hovered-block a.mybtn {
        color: #3E0216;
        font-size: 1.2em;
        background: none;
        text-decoration: none;
    }
    .show-hided-block {
        height: auto;
    }
    .show-hided-block:hover {
        background-color: transparent;
    }
    .show-hided-block:hover > .hided-hovered-block {
        color: black;
    }
}
@media screen and (min-width: 481px) and (max-width: 1080px){
    .content-row {
        height: auto;
    }
    .caption-block {
        text-align: center;
    }
    .show-hided-block {
        height: 500px;
    }
    .hided-hovered-block {
        display: block;
        position: relative;
        padding-left: 50px;
        padding-top: 0px;
        top: 0px;
        height: auto;
    }
    .show-hided-block:hover {
        background-color: transparent;
    }
    .show-hided-block:hover > .hided-hovered-block {
        color: black;
    }
}