{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {% blocktrans %}Chat with{% endblocktrans %} {{ receiver }} | {% show_title_page %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
{% block content %}
    {% include 'profile_header.html' %}
    <div class="container-fluid">
        <div class="row row-padding block-bottom-line">
            <div class="col-md-12 text-center">
                <a href="{% url 'contact_list' %}" class="btn mybtn mybtn-small">{% trans 'Messages' %}</a>
                {% if object.questsusers.is_organizer %}
                    <a href="{% url 'organizer_profile' %}" class="btn mybtn mybtn-small">{% trans "Profile" %}</a>
                {% else %}
                    <a href="{% url 'player_profile' %}" class="btn mybtn mybtn-small">{% trans "Profile" %}</a>
                {% endif %}
                <a href="{% url 'password_change' %}" class="btn mybtn mybtn-small">{% trans 'Change password' %}</a>
                <a href="{% url 'create_event' %}" class="btn mybtn mybtn-small">{% trans 'Create event' %}</a>
                <a href="{% url 'create_team' %}" class="btn mybtn mybtn-small">{% blocktrans %}Create team{% endblocktrans %}</a>
                <a href="{% url 'player_event_management' %}" class="btn mybtn mybtn-small">{% trans "Event management" %}</a>
                <a href="{% url 'photo_gallery' %}" class="btn mybtn mybtn-small">{% trans "Photo gallery" %}</a>
                <a href="{% url 'team_management' %}" class="btn mybtn mybtn-small">{% trans "My teams" %}</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="conversation">
                    {% for message in messages %}
                        {% if message.sender == user %}
                            <p class="sender">
                                {{ message.sender }} {{ message.datetime|date:'j-m-Y H:i' }}
                            </p>
                        {% else %}
                            <p class="receiver">
                                {{ message.sender }} {{ message.datetime|date:'j-m-Y H:i' }}
                            </p>
                        {% endif %}
                        <p class="chat_message">
                            {{ message.text }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-right username_block">
                <h2 class="users">
                    <span class="chat_username">{{ user.username }}</span>
                    {% if user.questsusers.image.url != None %}
                        <img src="{{ user.questsusers.image.url }}" class="chat_image chat_sender">
                    {% else %}
                        <img src="{% static 'images/no-players-image.png' %}" class="chat_image chat_sender">
                    {% endif %}
                </h2>
            </div>
            <div class="col-md-6 text-center col-center-block">
                <form method="post" id="idSendMessageForm">
                    {% csrf_token %}
                    <input type="hidden" name="sender" value="{{ user.username }}" id="idSender">
                    <input type="hidden" name="chat" value="{{ chat.id }}" id="idChat">
                    <textarea class="form-control" placeholder="{% trans 'Enter message' %}" id="idText"></textarea>
                    <input type="submit" value="{% trans 'Send!' %}" class="mybtn mybtn-small" id="idSend">
                </form>
            </div>
            <div class="col-md-3 text-left username_block">
                <h2 class="users">
                    <span class="chat_username">
                        {% if receiver.questsusers.is_organizer %}
                            <a href="{% url 'organizer' receiver.organizers.pk %}">
                                {{ receiver.username }}
                            </a>
                        {% else %}
                            <a href="{% url 'player' receiver.players.pk %}">
                                {{ receiver.username }}
                            </a>
                        {% endif %}
                    </span>
                    {% if receiver.questsusers.image.url != None %}
                        <img src="{{ receiver.questsusers.image.url }}" class="chat_image chat_receiver">
                    {% else %}
                        <img src="{% static 'images/no-players-image.png' %}" class="chat_image chat_receiver">
                    {% endif %}
                </h2>
            </div>
        </div>
    </div>
{% endblock %}