{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {% blocktrans %}Contact list{% endblocktrans %} | {% show_title_page %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/check_username.js' %}"></script>
{% endblock %}
{% block content %}
    {% include 'profile_header.html' %}
    <div class="container-fluid">
        <div class="row row-padding block-bottom-line">
            <div class="col-md-12 text-center">
                {% if object.questsusers.is_organizer %}
                    <a href="{% url 'organizer_profile' %}" class="btn mybtn mybtn-small">{% trans "Profile" %}</a>
                {% else %}
                    <a href="{% url 'player_profile' %}" class="btn mybtn mybtn-small">{% trans "Profile" %}</a>
                {% endif %}
                <a href="{% url 'password_change' %}" class="btn mybtn mybtn-small">{% trans 'Change password' %}</a>
                <a href="{% url 'create_event' %}" class="btn mybtn mybtn-small">{% trans 'Create event' %}</a>
                <a href="{% url 'create_team' %}" class="btn mybtn mybtn-small">{% blocktrans %}Create team{% endblocktrans %}</a>
                <a href="{% url 'player_event_management' %}" class="btn mybtn mybtn-small">{% trans "Event management" %}</a>
                <a href="{% url 'photo_gallery' %}" class="btn mybtn mybtn-small">{% trans "Photo gallery" %}</a>
                <a href="{% url 'team_management' %}" class="btn mybtn mybtn-small">{% trans "My teams" %}</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row block-bottom-line">
            <div class="col-md-4 text-center">
                <button class="mybtn mybtn-small" data-toggle="modal" data-target="#SendMessageModal">
                    {% blocktrans %}Send message{% endblocktrans %}
                </button>
                <div class="modal fade text-left" id="SendMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title">{% blocktrans %}Send new message{% endblocktrans %}</h4>
                            </div>
                            <div class="modal-body">
                                <div id="modal_error"></div>
                                <form action="{% url 'send_message' %}" method="post" id="idSendMessageForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="sender" value="{{ user.username }}">
                                    <label for="idReceiver">{% trans 'Enter username' %}</label>
                                    <input type="text" name="receiver" class="form-control" placeholder="{% trans 'Enter username' %}" id="idReceiver">
                                    <label for="messageText">{% trans 'Enter message' %}:</label>
                                    <textarea name="text" class="form-control" placeholder="{% trans 'Enter message' %}" id="messageText"></textarea>
                                    <input type="submit" value="{% trans 'Send' %}" class="mybtn mybtn-small">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="id_editCloseButton{{ task.pk }}">
                                    {% trans 'Close' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="color-header-left">{% blocktrans %}Your contacts{% endblocktrans %}</h3>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>{% trans 'User' %}</th>
                            <th>{% trans 'Total messages' %}</th>
                            <th>{% trans 'New mesages' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if chats %}
                            {% for chat in chats %}
                                <tr>
                                    <td>
                                        <a href="{% url 'chat' chat.id %}" class="chat_link">
                                            {{ chat.partner.username }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ chat.get_message_count }}
                                    </td>
                                    <td>
                                        {% if chat.have_new_message %}
                                            <span class="new_message"> {% trans 'New' %} </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    {% blocktrans %}You haven't contacts{% endblocktrans %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}