{% load staticfiles %}
{% load tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/npm.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block seo %}{% endblock %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#idNavbar" aria-expanded="false">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">GetQuests</a>
            </div>
            <div class="collapse navbar-collapse" id="idNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">{% trans "Home" %}</a> </li>
                    <li><a href="{% url 'events' %}">{% trans "Events" %}</a></li>
                    <li><a href="{% url 'players' %}">{% trans "Players" %}</a> </li>
                    <li><a href="{% url 'organizers' %}">{% trans "Organizers" %}</a></li>
                    <li><a href="{% url 'faq' %}">F.A.Q.</a></li>
                    <li><a href="{% url 'pages' 'about' %}">{% trans "About us" %}</a></li>
                    <li><a href="{% url 'contacts' 'contacts' %}">{% trans "Contact us" %}</a></li>
                    <li>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                         <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input type="hidden" value="ru" name="language">
                            <input type="submit" value="RU" class="btn btn-default navbar-btn">
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input type="hidden" value="en" name="language">
                            <input type="submit" value="EN" class="btn btn-default navbar-btn">
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    {% if user.questsusers.is_organizer %}
                                        <a href="{% url 'organizer_profile' %}">
                                    {% else %}
                                        <a href="{% url 'player_profile' %}">
                                    {% endif %}
                                    {% trans "Profile" %}</a>
                                </li>
                                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a> </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% trans "Login/register" %}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'login' %}">{% trans "Login" %}</a> </li>
                                <li><a href="{% url 'register' %}">{% trans "Register" %}</a> </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <footer>
                        <h4>&copy; Getquests.com</h4>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>
</html>