{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {% trans "Join event" %} {{ object.title }} | {% show_title_page %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/elastic/elastislide.css' %}">
    <script src="{% static 'js/elastic/modernizr.custom.17475.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row content-row caption-row page-header-background">
            <div class="col-md-4 icon-block">
                {% if object.image.url != None %}
                    <img src="{{ object.image.url }}" class="img-responsive img-rounded content-icon block-icon event-image" alt="{{ object.title }}">
                {% else %}
                    <img src="{% static 'images/no-events-image.png' %}" class="img-responsive img-rounded content-icon block-icon event-image" alt="{{ object.title }}">
                {% endif %}
            </div>
            <div class="col-md-8 event-header-block">
                <h1 class="page-h1">{% trans "You want to join event" %}: <span class="text-underline">{{ object.title }}</span></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row event-block-bottom-line">
            <div class="col-md-4 text-center">
                <h2 class="color-header">{{ user.username }}</h2>
                {% if user.questsusers.image.url != None %}
                    <img src="{{ user.questsusers.image.url }}" class="img-responsive img-rounded content-icon block-icon event-image">
                {% else %}
                    <img src="{% static 'images/no-players-image.png' %}" class="img-responsive img-rounded content-icon block-icon event-image">
                {% endif %}
                <p class="additional-search-parameters text-center">
                    <a href="{% url 'contact_list' %}" class="mybtn mybtn-small">{% trans "Message count" %}</a>
                </p>
            </div>
            <div class="col-md-4">
                <p>{% trans "Start date" %}: <span class="date">{{ object.start_date }}</span></p>
                <p>{% trans 'End date' %}: <span class="date"> {{ object.end_date }}</span></p>
                <p>{% trans 'Place' %}:
                    <span class="date">
                        {% if object.place.city != None %}
                            {{ object.place.get_country_display }} / {{ object.place.city }}
                        {% else %}
                            {{ object.place.get_country_display }}
                        {% endif %}
                    </span>
                </p>
                <p>{% trans 'Organizer' %}:
                    <span class="date">
                        {% if object.organizer.questsusers.is_organizer %}
                            <a href="{% url 'organizer' object.organizer.username|get_organizer_by_username %}"> {{ object.organizer.username }}</a>
                        {% else %}
                            <a href="{% url 'player' object.organizer.username|get_player_by_username %}">{{ object.organizer.username }}</a>
                        {% endif %}
                    </span>
                </p>
                {% if object.price != 0.0 %}
                    <p>{% trans "Price" %}: {{ object.price }}</p>
                {% else %}
                    <p class="free_event">{% trans "FREE" %}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p>
                    {% if object.is_team %}
                        <p>{% trans 'TEAM GAME' %}</p>
                    {% endif %}
                </p>
                <p>
                    {% blocktrans %}Maximum players/teams{% endblocktrans %}:
                    {% if object.max_players == None %}
                        N/A
                    {% else %}
                        {{ object.max_players }}
                    {% endif %}
                </p>
                <p>
                    {% blocktrans %}Minimum players/teams{% endblocktrans %}:
                    {% if object.min_players == None %}
                        N/A
                    {% else %}
                        {{ object.min_players }}
                    {% endif %}
                </p>
                <p>{% blocktrans %}Registered players/teams{% endblocktrans %}: {{ object.get_registered_count }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                        <p>{{ object.description }}</p>
                    </div>
                    <div class="col-xs-4">
                        <img src="{{ object.map_link }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if object.is_team %}
                <div class="col-xs-12">
                    <h2>{% trans "Registered teams" %}</h2>
                        {% if user_registered %}
                            <p>{% trans "You are in team, that registered" %}</p>
                        {% else %}
                            {% if object.get_registered_count >= object.max_players %}
                                <p>{% trans "Maximum number of players are registered to this event" %}</p>
                            {% else %}
                                {% if user == object.organizer %}
                                    <p>{% trans "You are organizer of this event" %}</p>
                                {% else %}
                                    <a href="{% url 'create_and_register_team' object.pk %}" class="btn btn-primary">
                                        {% blocktrans %}Create team and join!{% endblocktrans %}
                                    </a>
                                    <form action="{% url 'join_event' 'team' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ object.pk }}" name="event_pk">
                                        <input type="submit" value="{% trans 'Join as team!' %}" class="btn btn-primary">
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% for team in object.registered_teams.all %}
                        <h3>{{ team.title }}</h3>
                        {% if user_registered == False %}
                            {% if object.get_registered_count >= object.max_players %}
                                <p>{% blocktrans %}Maximum number of players are registered to this event{% endblocktrans %}</p>
                            {% else %}
                                {% if user != object.organizer %}
                                    <form action="{% url 'join_team' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ team.pk }}" name="team_pk">
                                        <input type="submit" value="{% trans 'Join team!' %}" class="btn btn-primary">
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <p>{% trans "Team players" %}:</p>
                        {% for player in team.players.all %}
                            <p>{{ player.username }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-xs-12 text_center">
                    {% if user_registered %}
                        <p>{% blocktrans %}You are already joined this event!{% endblocktrans %}</p>
                    {% else %}
                        {% if object.get_registered_count >= object.max_players %}
                            <p>{% blocktrans %}Maximum number of players are registered to this event{% endblocktrans %}</p>
                        {% else %}
                            {% if user != object.organizer %}
                                <form method="post" action="{% url 'join_event' 'player' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ object.pk }}" name="event_pk">
                                    <input type="submit" value="{% trans "Join event!" %}" class="btn btn-primary btn_width_200">
                                </form>
                            {% else %}
                                <p>{% blocktrans %}You are organizer of this event{% endblocktrans %}</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <h2>{% trans "Registered players" %}</h2>
                    {% for player in object.registered_players.all %}
                        <h4 class="text_on_1_line">{{ player.username }}</h4>
                        {% if player.questsusers.image.url != None %}
                            <img src="{{ player.questsusers.image.url }}" class="img-rounded small_avatar">
                        {% else %}
                            <img src="{% static 'images/default-user-avatar.png' %}" class="img-rounded small_avatar">
                        {% endif %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#SendMessageModal{{ player.pk }}">
                            {% trans "Send message" %}
                        </button>
                        <div class="modal fade" id="SendMessageModal{{ player.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">{% trans "Send new message" %}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modal_error"></div>
                                        <form action="{% url 'send_message' %}" method="post" id="idSendMessageForm">
                                            {% csrf_token %}
                                            <input type="hidden" name="sender" value="{{ user.username }}">
                                            <input type="hidden" name="receiver" value="{{ player.username }}">
                                            <textarea name="text" class="form-control" placeholder="{% trans 'Enter message' %}"></textarea>
                                            <input type="submit" value="{% trans 'Send' %}" class="btn btn-primary">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            {% trans 'Close' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}