{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {% trans 'Create your team!' %} | {% show_title_page %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
    {% include 'profile_header.html' %}
    <div class="container-fluid">
        <div class="row row-padding block-bottom-line">
            <div class="col-md-12 text-center">
                <a href="{% url 'contact_list' %}" class="mybtn mybtn-small">{% trans 'Messages' %}</a>
                <a href="{% url 'password_change' %}" class="mybtn mybtn-small">{% trans 'Change password' %}</a>
                <a href="{% url 'create_event' %}" class="mybtn mybtn-small">{% trans 'Create event' %}</a>
                <a href="{% url 'player_event_management' %}" class="mybtn mybtn-small">{% trans "Event management" %}</a>
                {% if object.questsusers.is_organizer %}
                    <a href="{% url 'organizer_profile' %}" class="mybtn mybtn-small">{% trans "Profile" %}</a>
                {% else %}
                    <a href="{% url 'player_profile' %}" class="mybtn mybtn-small">{% trans "Profile" %}</a>
                {% endif %}
                <a href="{% url 'photo_gallery' %}" class="mybtn mybtn-small">{% trans "Photo gallery" %}</a>
                <a href="{% url 'team_management' %}" class="mybtn mybtn-small">{% trans "My teams" %}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="color-header">{% blocktrans %}Create your team{% endblocktrans %}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 text-center">
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                {% if success %}
                    <script>redirect();</script>
                    <p class="message">
                        {% blocktrans %}
                            Team was created successfuly! You will be redirected in 5 second.
                        {% endblocktrans %}
                        {% trans 'Or press' %} <a href="{% url 'index' %}"> {% trans 'here' %}</a>
                    </p>
                {% else %}
                    <form action="." method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_title">{{ form.title.label }}</label>
                            {{ form.title|add_class_to_formfield:'form-control' }}
                        </div>
                        {% if event != '' %}
                            <input type="hidden" value="{{ event.pk }}" name="event_pk">
                        {% endif %}
                        <input type="submit" class="mybtn mybtn-small" value="{% trans 'Submit!' %}">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}