{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block title %}
    Create event! Get your own quest
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}">
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'js/delete_task.js' %}"></script>
    <script src="{% static 'js/edit_task.js' %}"></script>
    <script src="{% static 'js/calendar_create.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class=" col-xs-12">
                <div id="id_error">
                    {% if error %}
                        <p class="error"> {{ error }} </p>
                    {% endif %}
                </div>
                {% if event %}
                    <p class="message">You can now add or edit tasks</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.title.label }}
                    {{ form.title|add_class_to_formfield:'form-control' }}
                    {{ form.description.label }}
                    {{ form.description|add_class_to_formfield:'form-control' }}
                    {{ form.map_link.label }}
                    {{ form.map_link|add_class_to_formfield:'form-control' }}
                    {{ form.is_team.label }}
                    {{ form.is_team|add_class_to_formfield:'form-control' }}
                    {{ form.start_date.label }}
                    {{ form.start_date|add_class_to_formfield:'form-control' }}
                    {{ form.end_date.label }}
                    {{ form.end_date|add_class_to_formfield:'form-control' }}
                    {{ form.duration.label }}
                    {{ form.duration|add_class_to_formfield:'form-control' }}
                    {{ form.image.label }}
                    {{ form.image|add_class_to_formfield:'form-control' }}
                    {{ form.organizer|add_class_to_formfield:'form-control' }}
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
            </div>
            <div class="col-xs-8">
            {% if event %}
                <!-- Add task modal -->
                <!-- add task modal call button -->
                <button class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal">
                    Add task
                </button>
                <!-- add task modal window -->
                <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title">Add task</h4>
                            </div>
                            <div class="modal-body">
                                <div id="modal_error"></div>
                                <!-- create task form -->
                                <form method="post" id="id_addTaskForm">
                                    {% csrf_token %}
                                    <label for="id_taskTitle">Title</label>
                                    <input type="text" name="taskTitle" placeholder="Enter task title" class="form-control" id="id_taskTitle">
                                    <label for="id_taskDescription">Description</label>
                                    <textarea class="form-control" id="id_taskDescription" name="taskDescription" placeholder="Enter description for task"></textarea>
                                    <label for="id_mapLink">Link to map</label>
                                    <input type="url" name="mapLink" class="form-control" id="id_mapLink">
                                    <label for="id_taskTime">Time for task</label>
                                    <input type="time" class="form-control" name="taskTime" id="id_taskTime">
                                    <label for="id_taskScore">Score:</label>
                                    <input type="number" class="form-control" name="taskScore" id="id_taskScore">
                                    <label for="id_taskAnswer">Answer:</label>
                                    <input type="text" class="form-control" name="taskAnswer" id="id_taskAnswer">
                                    <input type="hidden" name="taskEvent" id="id_taskEvent" value="{{ event.pk }}">
                                    <hr>
                                    <h4>Task place:</h4>
                                    <label for="id_taskCountry">Country</label>
                                    <input type="text" name="taskCountry" class="form-control" id="id_taskCountry">
                                    <label for="id_taskCity">City</label>
                                    <input type="text" name="taskCity" class="form-control" id="id_taskCity">
                                    <label for="id_taskStreet">Street</label>
                                    <input type="text" name="taskStreet" class="form-control" id="id_taskStreet">
                                    <label for="id_taskLon">Longtitude</label>
                                    <input type="text" name="taskLon" class="form-control" id="id_taskLon">
                                    <label for="id_taskLat">Latitude</label>
                                    <input type="text" name="taskLat" class="form-control" id="id_taskLat">
                                    <hr>
                                    <h4>Task hint:</h4>
                                    <label for="id_taskHint">Task hint:</label>
                                    <textarea class="form-control" id="id_taskHint" name="taskHint" placeholder="Enter hint"></textarea>
                                    <input type="SUBMIT" value="Create!" class="btn btn-primary">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="id_closeButton">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End create task modal -->
                <h2>Tasks</h2>
                <!-- Task list -->
                    <div id="id_taskList">
                    {% for task in event.get_event_tasks %}
                        <div id="task{{ task.pk }}">
                            Task: {{ task.title }} Score: {{ task.score }} Answer: {{ task.answer }} Time: {{ task.time }} Hint: {{ task.hints.text }}
                            <button class="btn btn-primary" data-toggle="modal" data-target="#editTaskModal{{ task.pk }}">
                                Edit
                            </button>
                            <!-- modal for edit task -->
                            <div class="modal fade" id="editTaskModal{{ task.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">Edit task {{ task.title }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" id="id_editTaskForm{{ task.pk }}">
                                                {% csrf_token %}
                                                <label for="id_editTaskTitle{{ task.pk }}">Title</label>
                                                <input type="text" name="editTaskTitle" class="form-control" id="id_editTaskTitle{{ task.pk }}" value="{{ task.title }}">
                                                <label for="id_editTaskDescription{{ task.pk }}">Description</label>
                                                <textarea class="form-control" id="id_editTaskDescription{{ task.pk }}" name="editTaskDescription">{{ task.description }}</textarea>
                                                <label for="id_editMapLink{{ task.pk }}">Link to map</label>
                                                <input type="url" name="editMapLink" class="form-control" id="id_editMapLink{{ task.pk }}" value="{{ task.map_link }}">
                                                <label for="id_editTaskTime{{ task.pk }}">Time for task</label>
                                                <input type="time" class="form-control" name="editTaskTime" id="id_editTaskTime{{ task.pk }}" value="{{ task.time }}">
                                                <label for="id_editTaskScore{{ task.pk }}">Score:</label>
                                                <input type="number" class="form-control" name="editTaskScore" id="id_editTaskScore{{ task.pk }}" value="{{ task.score }}">
                                                <label for="id_editTaskAnswer{{ task.pk }}">Answer:</label>
                                                <input type="text" class="form-control" name="editTaskAnswer" id="id_editTaskAnswer{{ task.pk }}" value="{{ task.answer }}">
                                                <hr>
                                                <h4>Task place:</h4>
                                                <label for="id_editTaskCountry{{ task.pk }}">Country</label>
                                                <input type="text" name="editTaskCountry" class="form-control" id="id_editTaskCountry{{ task.pk }}" value="{{ task.place.country }}">
                                                <label for="id_editTaskCity{{ task.pk }}">City</label>
                                                <input type="text" name="editTaskCity" class="form-control" id="id_editTaskCity{{ task.pk }}" value="{{ task.place.city }}">
                                                <label for="id_editTaskStreet{{ task.pk }}">Street</label>
                                                <input type="text" name="editTaskStreet" class="form-control" id="id_editTaskStreet{{ task.pk }}" value="{{ task.place.city }}">
                                                <label for="id_editTaskLon{{ task.pk }}">Longtitude</label>
                                                <input type="text" name="editTaskLon" class="form-control" id="id_editTaskLon{{ task.pk }}" value="{{ task.place.lon }}">
                                                <label for="id_editTaskLat{{ task.pk }}">Latitude</label>
                                                <input type="text" name="editTaskLat" class="form-control" id="id_editTaskLat{{ task.pk }}" value="{{ task.place.lat }}">
                                                <input type="hidden" name="editTaskPlacePk" id="id_editTaskPlacePk{{ task.pk }}" value="{{ task.place.pk }}">
                                                <hr>
                                                <h4>Task hint:</h4>
                                                <label for="id_editTaskHint{{ task.pk }}">Task hint:</label>
                                                <textarea class="form-control" id="id_editTaskHint{{ task.pk }}" name="editTaskHint">{{ task.hints.text }}</textarea>
                                                <input type="hidden" value="{{ task.hints.pk }}" name="editTaskHintPk" id="id_editTaskHintPk{{ task.pk }}">
                                                <input type="SUBMIT" value="Save!" class="btn btn-primary" onclick="edit_prevent_refresh({{ task.pk }})">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" id="id_editCloseButton{{ task.pk }}">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End modal for edit task -->
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteTaskModal{{ task.pk }}">
                                Delete
                            </button>
                            <!-- Modal for delete task -->
                            <div class="modal fade" id="deleteTaskModal{{ task.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">Delete task {{ task.title }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4> Are you sure? </h4>
                                            <form method="post" id="id_deleteTaskForm{{ task.pk }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="task_id" value="{{ task.pk }}" id="delTaskID{{ task.pk }}">
                                                <input type="submit" value="Delete" class="btn btn-danger" onclick="prevent_refresh({{ task.pk}})">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" id="id_delcloseButton{{ task.pk }}">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End delete modal -->
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <h5>You shoul save your event first</h5>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/add_task.js' %}"></script>

{% endblock %}