{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {% trans 'Error!' %} {% show_title_page %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="error">{{ error }}</p>
                <br>
                <a href="{% url 'index' %}">
                    {% blocktrans %}
                        Return to main page
                    {% endblocktrans %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}