{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {{ object.title }}. {% show_title_page %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>{{ object.title }}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <p>{% trans 'Start date' %}: {{ object.start_date }}</p>
            </div>
            <div class="col-xs-2">
                <p>{% trans 'Place' %}: {{ object.place.city }}</p>
            </div>
            <div class="col-xs-2">
                <p>{% trans 'Organizer' %}:
                    {% if object.organizer.questsusers.is_organizer %}
                        <a href="{% url 'organizer' object.organizer.username|get_organizer_by_username %}"> {{ object.organizer.username }}</a>
                    {% else %}
                        <a href="{% url 'player' object.organizer.username|get_player_by_username %}">{{ object.organizer.username }}</a>
                    {% endif %}
                </p>
            </div>
            <div class="col-xs-2">
                {% if object.price != 0.0 %}
                    <p>{% trans 'Price' %}: {{ object.price }}</p>
                {% else %}
                    <p class="free_event">{% trans 'FREE' %}</p>
                {% endif %}
            </div>
            <div class="col-xs-2">
                {% if object.is_team %}
                    <p>{% trans 'TEAM GAME' %}</p>
                {% endif %}
            </div>
            <div class="col-xs-2">
                {% if user.is_authenticated %}
                    {% if user in object.registered_players.all or user.username|check_user_in_registered_team:object.pk %}
                        <p>{% blocktrans %}You are already joined this event{% endblocktrans %}</p>
                    {% else %}
                        {% if object.get_registered_count >= object.max_players %}
                            <p>{% blocktrans %}Maximum number of players are registered to this event!{% endblocktrans %}</p>
                        {% else %}
                            {% if user != object.organizer %}
                                <a href="{% url 'confirm_join' object.pk %}" class="btn btn-primary">{% trans 'Join!' %}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if user == object.organizer %}
                        <p>{% blocktrans %}You are organizer of this event{% endblocktrans %}</p>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary">{% blocktrans %}Login to join!{% endblocktrans %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p>{% blocktrans %}Maximum players/teams{% endblocktrans %}: {{ object.max_players }}</p>
            </div>
            <div class="col-xs-4">
                <p>{% blocktrans %}Minimum players/teams{% endblocktrans %}: {{ object.min_players }}</p>
            </div>
            <div class="col-xs-4">
                <p>{% blocktrans %}Registered players/teams{% endblocktrans %}: {{ object.get_registered_count }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>{% trans 'Event description' %}</h3>
                <p>{{ object.description }}</p>
                <h4>{% trans 'Map' %}:</h4>
                <img src="{{ object.map_link }}">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% for photo in object.get_event_photos %}
                    <img src="{{ photo.image.url }}" class="img-rounded index_avatar" alt="{{ photo.title }}">
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>{% trans 'Tasks' %}</h2>
            </div>
        </div>
        <div class="row">
            {% for task in object.get_event_tasks %}
                <div class="col-xs-12">
                    <h3 class="text_on_1_line">{{ task.title }}</h3>
                    <span>{% trans 'Score' %}: {{ task.score }}</span>
                    <span>{% trans 'Time' %}: {{ task.time }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if object.is_team == False %}
                    <h2>{% trans 'Registered players' %}</h2>
                {% else %}
                    <h2>{% trans 'Registered teams' %}</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if object.is_team == False %}
                <div class="col-xs-12">
                    {% for player in object.registered_players.all %}
                        <div class="row">
                            <div class="col-xs-6">
                                <h3 class="text_on_1_line">{{ player.username }}</h3>
                                <span>{% trans 'Score' %}: {{ player.username|get_player_score }}</span>
                            </div>
                        </div>
                    {% empty %}
                        <div class="row">
                            <div class="col-xs-6">
                                {% blocktrans %}None registered to this event yet{% endblocktrans %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% elif object.is_team %}
                <div class="col-xs-12">
                    {% for team in object.registered_teams.all %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{ team.title }}</h3>
                            </div>
                        </div>
                        {% for player in team.players.all %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4>{{ player.username }}</h4>
                                    <p>{% trans 'Score' %}: {{ player.username|get_player_score }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% empty %}
                        <div class="row">
                            <div class="col-xs-12">
                                {% blocktrans %}None registered to this event yet{% endblocktrans %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}