{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {{ object.title }}. {% show_title_page %}
{% endblock %}
{% block seo %}
    <meta name="description" content="{{ object.title }}">
    <meta name="keywords" content="{{ object.title }}">
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/elastic/elastislide.css' %}">
    <script src="{% static 'js/elastic/modernizr.custom.17475.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row content-row caption-row page-header-background">
            <div class="col-md-4 icon-block">
                {% if object.image.url != None %}
                    <img src="{{ object.image.url }}" class="img-responsive img-rounded content-icon block-icon event-image" alt="{{ object.title }}">
                {% else %}
                    <img src="{% static 'images/no-events-image.png' %}" class="img-responsive img-rounded content-icon block-icon event-image" alt="{{ object.title }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h1 class="page-h1">{{ object.title }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row event-block-bottom-line">
            <div class="col-md-4">
                <p>{% trans 'Start date' %}: <span class="date"> {{ object.start_date }} </span></p>
                <p>{% trans 'End date' %}: <span class="date"> {{ object.end_date }}</span></p>
                <p>{% trans 'Place' %}:
                    <span class="date">
                        {% if object.place.city != None %}
                            {{ object.place.get_country_display }} / {{ object.place.city }}
                        {% else %}
                            {{ object.place.get_country_display }}
                        {% endif %}
                    </span>
                </p>
                <p>{% trans 'Organizer' %}:
                    <span class="date">
                        {% if object.organizer.questsusers.is_organizer %}
                            <a href="{% url 'organizer' object.organizer.username|get_organizer_by_username %}"> {{ object.organizer.username }}</a>
                        {% else %}
                            <a href="{% url 'player' object.organizer.username|get_player_by_username %}">{{ object.organizer.username }}</a>
                        {% endif %}
                    </span>
                </p>
            </div>
            <div class="col-md-4">
                <p>{% blocktrans %}Maximum players/teams{% endblocktrans %}: {{ object.max_players }}</p>
                <p>{% blocktrans %}Minimum players/teams{% endblocktrans %}: {{ object.min_players }}</p>
                <p>{% blocktrans %}Registered players/teams{% endblocktrans %}: {{ object.get_registered_count }}</p>
            </div>
            <div class="col-md-4">
                {% if object.price != 0.0 %}
                    <p>{% trans 'Price' %}: {{ object.price }}</p>
                {% else %}
                    <p class="free_event">{% trans 'FREE' %}</p>
                {% endif %}
                {% if object.is_team %}
                    <p>{% trans 'TEAM GAME' %}</p>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user in object.registered_players.all or user.username|check_user_in_registered_team:object.pk %}
                        <p>{% blocktrans %}You are already joined this event{% endblocktrans %}</p>
                    {% else %}
                        {% if object.get_registered_count >= object.max_players %}
                            <p>{% blocktrans %}Maximum number of players are registered to this event!{% endblocktrans %}</p>
                        {% else %}
                            {% if user != object.organizer %}
                                <a href="{% url 'confirm_join' object.pk %}" class="mybtn mybtn-small">{% trans 'Join!' %}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if user == object.organizer %}
                        <p>{% blocktrans %}You are organizer of this event{% endblocktrans %}</p>
                    {% else %}
                        <a href="{% url 'login' %}" class="mybtn mybtn-small">{% blocktrans %}Login to join!{% endblocktrans %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row event-block-bottom-line">
            <div class="col-md-12">
                <h3 class="color-header">{% trans 'Event description' %}</h3>
                <p>{{ object.description }}</p>
                <h4 class="color-header">{% trans 'Map' %}:</h4>
                <p class="text-center">
                    <img src="{{ object.map_link }}" class="map-image">
                </p>
                <p class="text-center">
                    <a href="http://maps.google.com/?q={{ object.place.country }},{{ object.place.city }},{{ object.place.street }}">
                        {% trans 'View on google maps' %}
                    </a>
                </p>
            </div>
        </div>
        {% if object.get_event_photos %}
            <div class="row">
                <div class="col-md-12">
                    <h3 class="color-header">{% trans 'Event photos' %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="gallery">
                        <div class="elastislide-wrapper elastislide-horizontal">
                            <div class="elastislide-carousel">
                                <ul id="carousel" class="elastislide-list">
                                    {% for photo in object.get_event_photos %}
                                        {% if forloop.first %}
                                            <li data-preview="{{ photo.image.url }}" class="current-img">
                                                <a href="#">
                                                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                                                </a>
                                            </li>
                                        {% else %}
                                            <li data-preview="{{ photo.image.url }}">
                                                <a href="#">
                                                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <nav>
                                <span class="elastislide-prev" style="display: none;">Previous</span>
                                <span class="elastislide-next" style="display: none;">Next</span>
                            </nav>
                        </div>
                        <div class="image-preview">
                            <img src="" id="preview">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <h2>{% trans 'Tasks' %}</h2>
            </div>
        </div>
        <div class="row">
            {% for task in object.get_event_tasks %}
                <div class="col-xs-12">
                    <h3 class="text_on_1_line">{{ task.title }}</h3>
                    <span>{% trans 'Score' %}: {{ task.score }}</span>
                    <span>{% trans 'Time' %}: {{ task.time }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if object.is_team == False %}
                    <h2>{% trans 'Registered players' %}</h2>
                {% else %}
                    <h2>{% trans 'Registered teams' %}</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if object.is_team == False %}
                <div class="col-xs-12">
                    {% for player in object.registered_players.all %}
                        <div class="row">
                            <div class="col-xs-6">
                                <h3 class="text_on_1_line">{{ player.username }}</h3>
                                <span>{% trans 'Score' %}: {{ player.username|get_player_score }}</span>
                            </div>
                        </div>
                    {% empty %}
                        <div class="row">
                            <div class="col-xs-6">
                                {% blocktrans %}None registered to this event yet{% endblocktrans %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% elif object.is_team %}
                <div class="col-xs-12">
                    {% for team in object.registered_teams.all %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{ team.title }}</h3>
                            </div>
                        </div>
                        {% for player in team.players.all %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4>{{ player.username }}</h4>
                                    <p>{% trans 'Score' %}: {{ player.username|get_player_score }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% empty %}
                        <div class="row">
                            <div class="col-xs-12">
                                {% blocktrans %}None registered to this event yet{% endblocktrans %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Add elastislide plugin to page for photo galery -->
    <script src="{% static 'js/elastic/jquerypp.custom.js' %}"></script>
    <script src="{% static 'js/elastic/jquery.elastislide.js' %}"></script>
    <script type="text/javascript">
        var current = 0, $preview = $( '#preview' ), $carouselEl = $( '#carousel' ), $carouselItems = $carouselEl.children(),
                carousel = $carouselEl.elastislide( {
                    current : current,
					minItems : 4,
					onClick : function( el, pos, evt ) {
                        changeImage( el, pos );
						evt.preventDefault();
					},
					onReady : function() {
						changeImage( $carouselItems.eq( current ), current );
					}
				} );
        function changeImage( el, pos ) {
            $preview.attr( 'src', el.data( 'preview' ) );
            $carouselItems.removeClass( 'current-img' );
            el.addClass( 'current-img' );
            carousel.setCurrent( pos );
        }

    </script>
    <!-- End elastislide plugin to page for photo galery -->
{% endblock %}