{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block title %}
    {{ object.title }}. Create your own quest!
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>{{ object.title }}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <p>Start date: {{ object.start_date }}</p>
            </div>
            <div class="col-xs-2">
                <p>Place: {{ object.place.city }}</p>
            </div>
            <div class="col-xs-2">
                <p>Organizer: <a href="{% url 'organizer' object.organizer.username|get_organizer_by_username %}"> {{ object.organizer.username }}</a></p>
            </div>
            <div class="col-xs-2">
                {% if object.price != 0.0 %}
                    <p>Price: {{ object.price }}</p>
                {% else %}
                    <p class="free_event">FREE</p>
                {% endif %}
            </div>
            <div class="col-xs-2">
                {% if object.is_team %}
                    <p>TEAM GAME</p>
                {% endif %}
            </div>
            <div class="col-xs-2">
                {% if user.is_authenticated %}
                    {% if user in object.registered_players.all or user.username|check_user_in_registered_team:object.pk %}
                        <p>You are already joined this event</p>
                    {% else %}
                        <a href="{% url 'confirm_join' object.pk %}" class="btn btn-primary">Join!</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Login to join!</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>{{ object.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% for photo in object.get_event_photos %}
                    <img src="{{ photo.image.url }}" class="img-rounded index_avatar" alt="{{ photo.title }}">
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Tasks</h2>
            </div>
        </div>
        <div class="row">
            {% for task in object.get_event_tasks %}
                <div class="col-xs-12">
                    <h3 class="text_on_1_line">{{ task.title }}</h3>
                    <span>Score: {{ task.score }}</span>
                    <span>Time: {{ task.score }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if object.is_team == False %}
                    <h2>Registered players</h2>
                {% else %}
                    <h2>Registered teams</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if object.is_team == False %}
                <div class="col-xs-12">
                    {% for player in object.registered_players.all %}
                        <div class="row">
                            <div class="col-xs-6">
                                <h3 class="text_on_1_line">{{ player.username }}</h3>
                                <span>Score: {{ player.username|get_player_score }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% elif object.is_team %}
                <div class="col-xs-12">
                    {% for team in object.registered_teams.all %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{ team.title }}</h3>
                            </div>
                        </div>
                        {% for player in team.players.all %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4>{{ player.username }}</h4>
                                    <p>Score: {{ player.username|get_player_score }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}