{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {% trans 'Events' %} | {% show_title_page %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}">
    <script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'js/calendar_create.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 all-events-button-col">
                <form method="get" action="{% url 'search_events' %}" class="form-inline">
                    <label for="search">{% trans 'Enter word to search' %}:</label>
                    <input type="text" class="form-control" name="search" id="search">
                    <label for="id_start_date">{% trans 'From start date' %}:</label>
                    <input type="datetime" id="id_start_date" class="form-control" name="start_date">
                    <label for="id_end_date">{% trans 'To end date' %}:</label>
                    <input type="datetime" id="id_end_date" class="form-control" name="end_date">
                    <button type="submit" class="mybtn mybtn-small">{% trans 'Search' %}</button>
                </form>
            </div>
            <div class="col-md-2 all-events-button-col">
                <a href="{% url 'all_events' %}" class="mybtn mybtn-small text_on_1_line">{% trans 'All events' %}</a>
            </div>
        </div>
        <div class="row events-h1-row">
            <div class="col-xs-12">
                <img src="{% static 'images/events-icon.png' %}" class="index-content-icon" alt="Events">
                <h1 class="events-page-h1">{% trans 'Events' %}</h1>
                <p>{% trans 'Today' %}: {% now "j-m-Y" %}</p>
                {% for object in object_list %}
                    <div class="row">
                        <div class="col-xs-2">
                            {% if object.image.url != None %}
                                <img src="{{ object.image.url }}" class="img-responsive img-rounded index_avatar" alt="{{ object.title }}">
                            {% else %}
                                <img src="{% static 'images/no_item_image.jpg' %}" class="img-responsive img-rounded index_avatar">
                            {% endif %}
                        </div>
                        <div class="col-xs-8">
                            <h2>{{ object.title }}</h2>
                            <p>{{ object.description }}</p>
                        </div>
                        <div class="col-xs-2">
                            <p>{% trans 'Start date' %}: {{ object.start_date|date:'j-m-Y' }}</p>
                            <p>{% trans 'End date' %}: {{ object.end_date|date:'j-m-Y' }}</p>
                            <p>{% trans 'Maximum players/teams' %}: {{ object.max_players }}</p>
                            <p>{% trans 'Minimum players/teams' %}: {{ object.min_players }}</p>
                            <p>{% trans 'Regitered players/teams' %}: {{ object.get_registered_count }}</p>
                            {% if object.is_team %}
                                <p>{% trans 'Team only' %}</p>
                            {% endif %}
                            <a href="{% url 'event' object.pk %}" class="btn btn-primary">{% trans 'More...' %}</a>
                        </div>
                    </div>
                {% empty %}
                    <div class="row">
                        <div class="col-xs-12">
                            {% blocktrans %}Sorry, no events found.{% endblocktrans %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if is_paginated %}
                    <div class="pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
                        {% endif %}
                            {{ page_obj.number }} ({{ page_obj.paginator.num_pages }}).
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
                        {% endif %}
                    </div>
                {% elif object_list.paginator.num_pages > 1 %}
                    <div class="pagination">
                        {% if object_list.has_previous %}
                            <a href="?page={{ object_list.previous_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{% trans 'Previous' %}</a>
                        {% endif %}
                        {{ object_list.number }} ({{ object_list.paginator.num_pages }})
                        {% if object_list.has_next %}
                            <a href="?page={{ object_list.next_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{% trans 'Next' %}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}