{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {% show_title_page %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row index-header">
            <div class="col-xs-12">
                <h1 class="header-h1-text">{% blocktrans %} Create your own quest! {% endblocktrans %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="header-text">
                    {% blocktrans %}
                        You are on the site, which has everything to do with quests.
                        You can find all the quest of all the organizers of Moscow.
                        You can try your hand and create your own adventure, using the gaming capabilities of the site.
                        But most importantly! Make friends, meet new people and spend time with like-minded people!
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="row index-buttons-row">
            <div class="col-md-4 index-buttons-block">
                <img src="{% static 'images/map-icon.png' %}" alt="Choose a quest" class="icons">
                <a href="{% url 'events' %}" class="mybtn">{% trans 'Choose a quest' %}</a>
                <p class="index-buttons-p">
                    {% blocktrans %}
                        Choose a quest what you want! Choose your adventure!
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-md-4 index-buttons-block">
                <img src="{% static 'images/friends-icon.png' %}" alt="Find friends" class="icons">
                <a href="{% url 'events_registered' %}" class="mybtn">{% trans 'Find friends' %}</a>
                <p class="index-buttons-p">
                    {% blocktrans %}
                        Find your friends! Join your adventure with your friends!
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-md-4 index-buttons-block">
                <img src="{% static 'images/create-icon.png' %}" alt="Create quest" class="icons">
                <a href="{% url 'create_event' %}" class="mybtn">{% trans 'Create quest' %}</a>
                <p class="index-buttons-p">
                    {% blocktrans %}
                        Create quest by yourself! Complete it with your friends!
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="row banner">
            <div class="col-xs-12">
                <p class="banner_text">
                    {% blocktrans %}
                        Join adventure with your friends!
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="row content-row caption-row">
            <!-- Events block -->
            <div class="col-md-4 icon-block">
                <img src="{% static 'images/events-icon.png' %}" alt="Nearest events" class="content-icon">
            </div>
            <div class="col-md-8 caption-block">
                <h1>{% trans "Nearest events!" %}</h1>
            </div>
        </div>
        <div class="row">
            {% for event in nearest_events %}
                <div class="col-md-3 index-content-block">
                    {% if event.image.url != None %}
                        <img src="{{ event.image.url }}" class="img-responsive img-rounded index_avatar">
                    {% else %}
                        <img src="{% static 'images/no-events-image.png' %}" class="img-responsive img-rounded index_avatar">
                    {% endif %}
                        <a href="{% url 'event' event.pk %}">
                            <h3 class="text-header">{{ event.title|truncatechars:55 }}</h3>
                        </a>
                    <p class="date">{% trans "Start date" %}: {{ event.start_date|date:'d M Y' }}</p>
                    <p>{{ event.description|truncatewords:35 }}</p>
                    <p><a href="{% url 'event' event.pk %}" class="mybtn">{% trans 'More...' %}</a> </p>
                </div>
            {% empty %}
                <div class="col-xs-12">
                    <h2>{% trans "Comming soon..." %}</h2>
                </div>
            {% endfor %}
        </div>
        <div class="row content-row organizers-block caption-row">
            <!-- Organizers block -->
            <div class="col-md-4 icon-block">
                <img src="{% static 'images/best-organizers_2.png' %}" class="content-icon img-rounded" alt="Best organizers">
            </div>
            <div class="col-md-8 caption-block">
                <h1>{% trans "Best organizers" %}</h1>
            </div>
        </div>
        <div class="row organizers-block">
            {% for organizer in best_organizers %}
                <div class="col-md-4 index-content-block">
                    {% if organizer.user.questsusers.image.url != None %}
                        <img src="{{ organizer.user.questsusers.image.url }}" class="img-responsive img-rounded index_avatar">
                    {% else %}
                        <img src="{% static 'images/no-organizers-image.png' %}" class="img-responsive img-rounded index_avatar">
                    {% endif %}
                    <a href="{% url 'organizer' organizer.pk %}">
                        <h3 class="text-header">{{ organizer.user.username }}</h3>
                    </a>
                    <p>{{ organizer.description|truncatewords:30 }}</p>
                    <a href="{% url 'organizer' organizer.pk %}" class="mybtn">{% trans 'More...' %}</a>
                    <h4>{% trans 'Future events:' %}</h4>
                    {% for event in organizer.get_three_future_events %}
                        <h5><a href="{% url 'event' event.pk %}"> {{ event.title }} </a></h5>
                        <p class="date">{% trans 'Start date' %}: {{ event.start_date|date:'d M Y' }}</p>
                    {% empty %}
                        <p>{% trans "No planned events for this organizer" %}</p>
                    {% endfor %}
                </div>
            {% empty %}
                <h2>{% trans "Comming soon..." %}</h2>
            {% endfor %}
        </div>
        <div class="row content-row caption-row">
            <!-- Players block -->
            <div class="col-md-4 icon-block">
                <img src="{% static 'images/best-players-icon-2.png' %}" alt="Best players" class="content-icon img-rounded">
            </div>
            <div class="col-md-8 caption-block">
                <h1>{% trans "Best players" %}</h1>
            </div>
        </div>
        <div class="row">
            {% for player in best_players %}
                <div class="col-md-4 index-content-block">
                    {% if player.user.questsusers.image.url != None %}
                        <img src="{{ player.user.questsusers.image.url }}" class="img-responsive img-rounded index_avatar">
                    {% else %}
                        <img src="{% static 'images/no-players-image.png' %}" class="img-responsive img-rounded index_avatar">
                    {% endif %}
                    <a href="{% url 'player' player.pk %}">
                        <h3 class="text-header">{{ player.user.username }}</h3>
                    </a>
                    <p class="date">{% trans 'Score' %}:{{ player.points }}</p>
                    <p>{{ player.description |truncatewords:30 }}</p>
                </div>
            {% empty %}
                <h2>{% trans "Comming soon..." %}</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}