{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block title %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <script>redirect();</script>
                <h1>{{ error }}</h1>
                {% if object %}
                    <p>Event: {{ object.title }}</p>
                {% endif %}
                <p>You will be redirected in 5 seconds or click <a href="{% url 'index' %}">here</a> </p>
            </div>
        </div>
    </div>
{% endblock %}