{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}
{% block title %}
    Login! {% show_title_page %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>Login please!</h1>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next_url }}">
                    <table class="form_table">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Login!" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}