{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {% trans 'Login!' %} {% show_title_page %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row content-row caption-row page-header-background">
            <div class="col-md-12">
                <h1 class="page-header">{% blocktrans %}Login please!{% endblocktrans %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1></h1>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next_url }}">
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field|add_class_to_formfield:"form-control" }}
                    {% endfor %}
                    <p class="text-center">
                        <input type="submit" value="{% trans 'Login!' %}" class="mybtn mybtn-small">
                    </p>
                </form>
                <p class="text-center">
                    {% blocktrans %}Or you can restore your password {% endblocktrans %}&nbsp;<a href="{% url 'restore' %}">{% trans 'here' %}.</a>
                </p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}