{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {{ object.username }} | {% show_title_page %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/organizer_profile.css'%}">
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/delete_photo.js' %}"></script>
    <script src="{% static 'js/uploads_modal.js' %}"></script>
    <script src="{% static 'js/delete_event.js' %}"></script>
{% endblock %}
{% block content %}
    {% include 'profile_header.html' %}
    <div class="container-fluid">
        <div class="row row-padding block-bottom-line">
            <div class="col-md-12 text-center">
                <a href="{% url 'contact_list' %}" class="btn mybtn mybtn-small">{% trans 'Messages' %}</a>
                <a href="{% url 'password_change' %}" class="btn mybtn mybtn-small">{% trans 'Change password' %}</a>
                <a href="{% url 'create_event' %}" class="btn mybtn mybtn-small">{% trans 'Create event' %}</a>
                <a href="{% url 'create_team' %}" class="btn mybtn mybtn-small">{% blocktrans %}Create team{% endblocktrans %}</a>
                <a href="{% url 'player_event_management' %}" class="btn mybtn mybtn-small">{% trans "Event management" %}</a>
                <a href="{% url 'photo_gallery' %}" class="btn mybtn mybtn-small">{% trans "Photo gallery" %}</a>
                <a href="{% url 'team_management' %}" class="btn mybtn mybtn-small">{% trans "My teams" %}</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row block-bottom-line">
            <div class="col-md-12">
                <h1 class="color-header">{% trans 'Today events (not started)' %}</h1>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>{% trans 'Title' %}</td>
                            <td class="cell-no-display">{% trans 'Start date' %}</td>
                            <td>{% trans 'Registered' %}</td>
                            <td>{% trans 'Team game' %}</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for event in object.organizers.get_today_events %}
                        <tr>
                            <td>
                                <a href="{% url 'current_event' event.pk %}">
                                    <h4>{{ event.title }}</h4>
                                </a>
                            </td>
                            <td class="cell-no-display">{{ event.start_date|date:'d-m-Y H:i' }}</td>
                            <td>{{ event.get_registered_count }}</td>
                            <td>
                                {% if event.is_team %}
                                    {% trans 'Yes' %}
                                {% else %}
                                    {% trans 'No' %}
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">
                                <h5 class="color-header">{% trans 'No events today' %}</h5>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="color-header">{% blocktrans %}Change personal info:{% endblocktrans %}</h2>
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {% trans 'Current avatar' %}:
                        {% if object.questsusers.image.url != None %}
                            <img src="{{ object.questsusers.image.url }}" class="img-responsive img-rounded content-icon block-icon avatar-image" alt="{{ object.username }}">
                        {% else %}
                            <img src="{% static 'images/no-players-image.png' %}" class="img-responsive img-rounded content-icon block-icon avatar-image" alt="{{ object.username }}">
                        {% endif %}
                        <br>
                        <label for="id_avatar">{% blocktrans %}Change avatar:{% endblocktrans %}</label>
                        <input id="id_avatar" name="avatar" type="file">
                    </div>
                    <div class="form-group">
                        <label for="id_email">{{ form.email.label }}:</label>
                        {{ form.email|add_class_to_formfield:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_description">{{ form.description.label }}:</label>
                        {{ form.description|add_class_to_formfield:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_country">{{ form.country.label }}:</label>
                        {{ form.country|add_class_to_formfield:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_city">{{ form.city.label }}:</label>
                        {{ form.city|add_class_to_formfield:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_street">{{ form.street.label }}:</label>
                        {{ form.street|add_class_to_formfield:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_phone">{{ form.phone.label }}:</label>
                        {{ form.phone|add_class_to_formfield:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_skype">{{ form.skype.label }}:</label>
                        {{ form.skype|add_class_to_formfield:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_site">{{ form.site.label }}:</label>
                        {{ form.site|add_class_to_formfield:"form-control" }}
                    </div>
                    <input type="submit" value="Save!" class="mybtn mybtn-small">
                </form>
            </div>
        </div>
    </div>
{% endblock %}