{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {{ object.user.username }} {% show_title_page %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/player.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/elastic/elastislide.css' %}">
    <script src="{% static 'js/elastic/modernizr.custom.17475.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row content-row caption-row page-header-background">
            <div class="col-md-4 icon-block">
                {% if object.user.questsusers.image.url != None %}
                    <img src="{{ object.user.questsusers.image.url }}" class="img-responsive img-rounded content-icon block-icon header-image" alt="{{ object.user.username }}">
                {% else %}
                    <img src="{% static 'images/no-organizers-image.png' %}" class="img-responsive img-rounded content-icon block-icon header-image" alt="{{ object.user.username }}">
                {% endif %}
            </div>
            <div class="col-md-8 text-left">
                <h1 class="page-h1">{{ object.user.username }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">



                <button class="btn btn-primary" data-toggle="modal" data-target="#SendMessageModal">
                    {% blocktrans %}Send message{% endblocktrans %}
                </button>
                <div class="modal fade" id="SendMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title">{% blocktrans %}Send new message{% endblocktrans %}</h4>
                            </div>
                            <div class="modal-body">
                                <div id="modal_error"></div>
                                <form action="{% url 'send_message' %}" method="post" id="idSendMessageForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="sender" value="{{ user.username }}">
                                    <input type="hidden" name="receiver" value="{{ object.user.username }}">
                                    <textarea name="text" class="form-control" placeholder="{% trans 'Enter message' %}"></textarea>
                                    <input type="submit" value="{% trans 'Send' %}" class="btn btn-primary">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="id_editCloseButton{{ task.pk }}">
                                    {% trans 'Close' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <p>{% trans 'City' %}: {{ object.user.contacts.city }}</p>
                <p>{% trans 'Street' %}: {{ object.user.contacts.street }}</p>
                <p>{% trans 'Phone' %}: {{ object.user.contacts.phone }}</p>
                <p>{% trans 'Skype' %}: {{ object.user.contacts.skype }}</p>
                <p>Web-site: {{ object.user.contacts.site }}</p>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{% trans 'About us' %}:</h2>
                        {{ object.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{% trans 'Photo' %}:</h2>
                        {% for photo in object.user.photos_set.all %}
                            {% if photo.image.url != None %}
                                <img src="{{ photo.image.url }}" class="img-rounded index_avatar">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>{% trans 'Events today' %}</h2>
                {% for event in object.get_today_events %}
                    <h3>{{ event.title }}</h3>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>{% trans 'Strated events' %}</h2>
                {% for event in object.get_started_events %}
                    <h3>{{ event.title }}</h3>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>{% trans 'Future events' %}:</h2>
                {% for event in object.get_future_events %}
                    <p class="text_on_1_line">{% trans 'Title' %}: {{ event.title }}</p>
                    <p class="text_on_1_line">{% trans 'Date' %}: {{ event.start_date }}</p>
                    <p class="text_on_1_line">
                        Cost:
                        {% if event.price == 0.0 %}
                            <span class="free_event"> {% trans 'Free' %}</span>
                        {% else %}
                            {{ event.price }}
                        {% endif %}
                    </p>
                    {% if user.is_authenticated %}
                        {% if user in object.registered_players.all or user.username|check_user_in_registered_team:object.pk %}
                            <p class="text_on_1_line">{% blocktrans %}You are already joined this event{% endblocktrans %}</p>
                        {% else %}
                            <a href="{% url 'confirm_join' event.pk %}" class="btn btn-primary">{% trans 'Join!' %}</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary">{% blocktrans %}Login to join!{% endblocktrans %}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>{% blocktrans %}Completed events:{% endblocktrans %}</h2>
                {% for event in object.get_completed_events %}
                    <p class="text_on_1_line">{% trans 'Title' %}: {{ event.title }}</p>
                    <p class="text_on_1_line">{% trans 'End date' %}: {{ event.end_date }}</p>
                    <p class="text_on_1_line">{% trans 'Winner' %}: {{ event.get_event_winner }}</p>
                    <p class="text_on_1_line">{% trans 'Max score' %}: {{ event.get_event_score }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Add elastislide plugin to page for photo galery -->
    <script src="{% static 'js/elastic/jquerypp.custom.js' %}"></script>
    <script src="{% static 'js/elastic/jquery.elastislide.js' %}"></script>
    <script type="text/javascript">
        var current = 0, $preview = $( '#preview' ), $carouselEl = $( '#carousel' ), $carouselItems = $carouselEl.children(),
                carousel = $carouselEl.elastislide( {
                    current : current,
					minItems : 4,
					onClick : function( el, pos, evt ) {
                        changeImage( el, pos );
						evt.preventDefault();
					},
					onReady : function() {
						changeImage( $carouselItems.eq( current ), current );
					}
				} );
        function changeImage( el, pos ) {
            $preview.attr( 'src', el.data( 'preview' ) );
            $carouselItems.removeClass( 'current-img' );
            el.addClass( 'current-img' );
            carousel.setCurrent( pos );
        }

    </script>
    <!-- End elastislide plugin to page for photo galery -->
{% endblock %}