{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {{ object.user.username }} {% show_title_page %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/player.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/elastic/elastislide.css' %}">
    <script src="{% static 'js/elastic/modernizr.custom.17475.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row content-row caption-row page-header-background">
            <div class="col-md-4 icon-block">
                {% if object.user.questsusers.image.url != None %}
                    <img src="{{ object.user.questsusers.image.url }}" class="img-responsive img-rounded content-icon block-icon header-image" alt="{{ object.user.username }}">
                {% else %}
                    <img src="{% static 'images/no-organizers-image.png' %}" class="img-responsive img-rounded content-icon block-icon header-image" alt="{{ object.user.username }}">
                {% endif %}
            </div>
            <div class="col-md-8 text-left">
                <h1 class="page-h1">{{ object.user.username }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row block-bottom-line">
            <div class="col-md-4">
                <div class="icon-block">
                    <button class="mybtn mybtn-small" data-toggle="modal" data-target="#SendMessageModal">
                        {% blocktrans %}Send message{% endblocktrans %}
                    </button>
                </div>
                <div class="modal fade" id="SendMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title color-header">{% blocktrans %}Send new message{% endblocktrans %}</h4>
                            </div>
                            <div class="modal-body text-left">
                                <div id="modal_error"></div>
                                <form action="{% url 'send_message' %}" method="post" id="idSendMessageForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="sender" value="{{ user.username }}">
                                    <input type="hidden" name="receiver" value="{{ object.user.username }}">
                                    <textarea name="text" class="form-control" placeholder="{% trans 'Enter message' %}"></textarea>
                                    <input type="submit" value="{% trans 'Send' %}" class="mybtn mybtn-small">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="id_editCloseButton{{ task.pk }}">
                                    {% trans 'Close' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-padding-left">
                    <h3 class="color-header-left">{% trans 'Our contacts' %}</h3>
                    <p>{% trans 'City' %}: <span class="date">{{ object.user.contacts.city }}</span></p>
                    <p>{% trans 'Street' %}: <span class="date">{{ object.user.contacts.street }}</span> </p>
                    <p>{% trans 'Phone' %}: <span class="date">{{ object.user.contacts.phone }}</span> </p>
                    <p>{% trans 'Skype' %}: <span class="date">{{ object.user.contacts.skype }}</span> </p>
                    <p>Web-site: <a href="{{ object.user.contacts.site|check_http_prefix }}">{{ object.user.contacts.site }}</a> </p>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="color-header">{% trans 'About us' %}:</h2>
                <p>{{ object.description }}</p>
            </div>
        </div>
        {% if object.user.photos_set.all %}
            <div class="row block-bottom-line photos-row">
                <div class="col-md-12">
                    <h2 class="color-header">{% trans 'Photo' %}:</h2>
                    <div class="gallery">
                        <div class="elastislide-wrapper elastislide-horizontal">
                            <div class="elastislide-carousel">
                                <ul id="carousel" class="elastislide-list">
                                    {% for photo in object.user.photos_set.all %}
                                        {% if forloop.first %}
                                            <li data-preview="{{ photo.image.url }}" class="current-img">
                                                <a href="#">
                                                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                                                </a>
                                            </li>
                                        {% else %}
                                            <li data-preview="{{ photo.image.url }}">
                                                <a href="#">
                                                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <nav>
                                <span class="elastislide-prev" style="display: none;">Previous</span>
                                <span class="elastislide-next" style="display: none;">Next</span>
                            </nav>
                        </div>
                        <div class="image-preview">
                            <img src="" id="preview">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if object.get_today_events %}
            <div class="row block-bottom-line">
                <div class="col-md-12">
                    <h3 class="color-header">{% trans 'Events today' %}</h3>
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>{% trans 'Event title' %}</th>
                                <th class="text-center">{% trans 'Start time' %}</th>
                                <th class="text-center">{% trans 'Registered players' %}</th>
                                <th class="text-center cell-no-display">{% trans 'City' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in object.get_today_events %}
                                <tr>
                                    <td><a href="{% url 'event' event.pk %}">{{ event.title }}</a> </td>
                                    <td class="text-center">{{ event.start_date|date:"H:i" }}</td>
                                    <td class="text-center">{{ event.get_registered_count }}</td>
                                    <td class="text-center cell-no-display">{{ event.place.city }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        {% if object.get_started_events %}
            <div class="row block-bottom-line">
                <div class="col-md-12">
                    <h3 class="color-header">{% trans 'Started events' %}</h3>
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>{% trans 'Event title' %}</th>
                                <th class="text-center">{% trans 'Start date' %}</th>
                                <th class="text-center">{% trans 'End date' %}</th>
                                <th class="text-center cell-no-display">{% trans 'Registered players' %}</th>
                                <th class="text-center cell-no-display">{% trans 'City' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in object.get_started_events %}
                                <tr>
                                    <td><a href="{% url 'event' event.pk %}">{{ event.title }}</a></td>
                                    <td class="text-center">{{ event.start_date }}</td>
                                    <td class="text-center">{{ event.end_date }}</td>
                                    <td class="text-center cell-no-display">{{ event.get_registered_count }}</td>
                                    <td class="text-center cell-no-display">{{ event.place.city }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        <div class="row block-bottom-line">
            <div class="col-md-12">
                <h3 class="color-header">{% trans 'Future events' %}:</h3>
                {% if object.get_future_events %}
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>{% trans 'Event title' %}</th>
                                <th>{% trans 'Start date' %}</th>
                                <th class="cell-no-display">{% trans 'End date' %}</th>
                                <th class="cell-no-display">{% trans 'Cost' %}</th>
                                <th class="cell-no-display">{% trans 'City' %}</th>
                                <th class="cell-no-display">{% trans 'Registered players' %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in object.get_future_events %}
                                <tr>
                                    <td><a href="{% url 'event' event.pk %}">{{ event.title }}</a></td>
                                    <td>{{ event.start_date }}</td>
                                    <td class="cell-no-display">{{ event.end_date }}</td>
                                    <td class="cell-no-display">
                                        {% if event.price == 0.0 %}
                                            <span class="free_event"> {% trans 'Free' %}</span>
                                        {% else %}
                                            {{ event.price }}
                                        {% endif %}
                                    </td>
                                    <td class="text-center cell-no-display">{{ event.place.city }}</td>
                                    <td class="text-center cell-no-display">{{ event.get_registered_count }}</td>
                                    <td>
                                        {% if user.is_authenticated %}
                                            {% if user in object.registered_players.all or user.username|check_user_in_registered_team:object.pk %}
                                                {% blocktrans %}You are already joined this event{% endblocktrans %}
                                            {% else %}
                                                <a href="{% url 'confirm_join' event.pk %}" class="mybtn mybtn-small">{% trans 'Join!' %}</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'login' %}" class="mybtn mybtn-small">{% blocktrans %}Login to join!{% endblocktrans %}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="color-header">{% blocktrans %}No events planned{% endblocktrans %}</p>
                {% endif %}
            </div>
        </div>
        {% if object.get_completed_events %}
            <div class="row block-bottom-line">
                <div class="col-md-12">
                    <h3 class="color-header">{% blocktrans %}Completed events:{% endblocktrans %}</h3>
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>{% trans 'Title' %}</th>
                                <th class="cell-no-display">{% trans 'Start date' %}</th>
                                <th>{% trans 'End date' %}</th>
                                <th class="text-center">{% trans 'Winner' %}</th>
                                <th class="text-center cell-no-display">{% trans 'Max score' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in object.get_completed_events %}
                                <tr>
                                    <td><a href="{% url 'event' event.pk %}">{{ event.title }}</a> </td>
                                    <td class="cell-no-display">{{ event.start_date }}</td>
                                    <td>{{ event.end_date }}</td>
                                    <td class="text-center">{{ event.get_event_winner }}</td>
                                    <td class="text-center cell-no-display">{{ event.get_event_score }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Add elastislide plugin to page for photo galery -->
    <script src="{% static 'js/elastic/jquerypp.custom.js' %}"></script>
    <script src="{% static 'js/elastic/jquery.elastislide.js' %}"></script>
    <script type="text/javascript">
        var current = 0, $preview = $( '#preview' ), $carouselEl = $( '#carousel' ), $carouselItems = $carouselEl.children(),
                carousel = $carouselEl.elastislide( {
                    current : current,
					minItems : 4,
					onClick : function( el, pos, evt ) {
                        changeImage( el, pos );
						evt.preventDefault();
					},
					onReady : function() {
						changeImage( $carouselItems.eq( current ), current );
					}
				} );
        function changeImage( el, pos ) {
            $preview.attr( 'src', el.data( 'preview' ) );
            $carouselItems.removeClass( 'current-img' );
            el.addClass( 'current-img' );
            carousel.setCurrent( pos );
        }

    </script>
    <!-- End elastislide plugin to page for photo galery -->
{% endblock %}