{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}
{% block title %}
    {% blocktrans %} Your password changed {% endblocktrans %} {{ user.username }}|{% show_title_page %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% if user.questsusers.is_organizer %}
                    <script>
                        setTimeout('window.location.href="/my_organizer_profile/"', 5000);
                    </script>
                {% else %}
                    <script>
                        setTimeout('window.location.href="/my_profile/"', 5000);
                    </script>
                {% endif %}
                <h1>{% blocktrans %} Your password changed {% endblocktrans %} {{ user.username }}!</h1>
                <p>{% blocktrans %}You will be redirected in 5 seconds or click{% endblocktrans %}
                    {% if user.questsusers.is_organizer %}
                        <a href="{% url 'organizer_profile' %}">
                    {% else %}
                        <a href="{% url 'player_profile' %}">
                    {% endif %}
                    {% trans 'here' %}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}