{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block title %}
    {{ object.user.username }} Get your own quest!
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h1 class="page-header">{{ object.user.username }}</h1>
                {% if object.user.questsusers.image.url != None %}
                    <img src="{{ object.user.questsusers.image.url }}" class="img-responsive img-rounded index_avatar">
                {% else %}
                    <img src="{% static 'images/default-user-avatar.png' %}" class="img-responsive img-rounded index_avatar">
                {% endif %}
            </div>
            <div class="col-xs-8">
                <h2>Photo:</h2>
                {% for photo in object.user.photos_set.all %}
                    {% if photo.image.url != None %}
                        <img src="{{ photo.image.url }}" class="img-rounded index_avatar">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <button class="btn btn-primary" data-toggle="modal" data-target="#SendMessageModal">
                    Send message
                </button>
                <div class="modal fade" id="SendMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title">Send new message</h4>
                            </div>
                            <div class="modal-body">
                                <div id="modal_error"></div>
                                <form action="{% url 'send_message' %}" method="post" id="idSendMessageForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="sender" value="{{ user.username }}">
                                    <input type="hidden" name="receiver" value="{{ object.user.username }}">
                                    <textarea name="text" class="form-control" placeholder="Enter message"></textarea>
                                    <input type="submit" value="Send" class="btn btn-primary">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="id_editCloseButton{{ task.pk }}">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <p>Score: {{ object.points }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                {% if object.show_personal_info %}
                    <h2>Personal info:</h2>
                    <p>Date of birth: {{ object.date_of_birth|date:'d M Y' }}</p>
                    <p>Sex: {{ object.get_sex_display }}</p>
                    <p>Country: {{ object.user.contacts.country }}</p>
                    <p>City: {{ object.user.contacts.city }}</p>
                    <p>Street: {{ object.user.contacts.street }}</p>
                    <p>Phone: {{ object.user.contacts.phone }}</p>
                    <p>Skype: {{ object.user.contacts.skype }}</p>
                    <p>Web-site: {{ object.user.contacts.site }}</p>
                {% endif %}
            </div>
            <div class="col-xs-8">
                <h2>About:</h2>
                <p>{{ object.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Future events:</h2>
                {% for event in object.get_future_events %}
                    <p class="text_on_1_line">{{ event.title }}</p>
                    <p class="text_on_1_line">{{ event.start_date }}</p>
                    <p class="text_on_1_line">{{ event.organizer }}</p>
                    <p class="text_on_1_line">{{ event.place.city }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Completed events:</h2>
                {% for event in object.get_last_events %}
                    <p class="text_on_1_line">{{ event.title }}</p>
                    <p class="text_on_1_line">{{ event.end_date }}</p>
                    <p class="text_on_1_line">{{ event.organizer }}</p>
                    <p class="text_on_1_line">{{ event.place.city }}</p>
                    <p class="text_on_1_line">{{ object.user.username|get_score_for_event_by_user:event }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}