{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Restore password | {% show_title_page %}
{% endblock %}
{% block content %}
    <div class="container">
        {% if success == False %}
            <div class="row">
                <div class="col-xs-12">
                    <p class="error"> {{ error }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1>Restore password</h1>
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Restore" class="btn btn-primary">
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <script>redirect();</script>
                    <p class="message">{{ error }}</p>
                    <p>You will be redirected in 5 seconds or click <a href="{% url 'index' %}">here</a></p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}